div.container{
    margin: auto;
    height: 100%;
    background: grey;
}


div.main{
    background: lightblue;
    height: 90vh;
}
h1{
    text-align: center;
    margin: 0px 30px 30px 30px;
    border-bottom: 3px solid red;
;
}

div>button{
    height: 100px;



}
