
@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap');

div.container{
    /*background: url("app_background3.jpg") no-repeat center center fixed;*/
    /*background-size: cover;*/
    /*margin: auto;*/
    /*height: 100%;*/
}
.background{
    opacity: 0.20;
}

nav{
    background-color: #3399FF;

}

div.footer{
    background-color: #3399FF;
}

div.main{
    height: 80vh;
    background-color: #00010c;
    background: url("app_background2.jpg") no-repeat center center fixed;
}
h1{
    font-family: 'Stoke', serif;
    font-weight: bolder;
    padding-top: 92px;
    color: white;
    text-align: center;
    margin: 0 30px 30px 30px;
    text-shadow: 5px 0 0 black;
;
}


.button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 169px;
}

.button1>a{
    color: white;
    font-size: 18px;
}
.button1{
    background: #1E88E5;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 60px;

}

.button1:hover {
    box-shadow: 0 5px 5px 0 #FFD54F, 0 17px 50px 0 black;
}

footer{
    background-color: #0099FF;
    height: 5vh ;
    border-radius: 60px 0 0 60px;

}
.foba{
    background: #61dafb;
}

.btn-secondary{
    background: #1E88E5;
    border: none;
    border-radius: 50px;
    width: 250px;
    height: 60px;}