.container{
  background-color: #282c34;
}
p{
  color: white;
}
.col-sm-2{
  color: white;
}

div.form-group {
  margin-top: 10px;
  margin-bottom: 10px
}

.wypij{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dane{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 }
