.container{


}
p{
  color: white;
}
.col-sm-2{
  color: white;
}

div.form-group {
  margin-top: 10px;
  margin-bottom: 10px
}

.wypij{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dane{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 }

#andrzej{
  background-image: url("app_background.jpg") ;
}

.form-check-label{
  color: white;
}

button{
  background: #1E88E5;
  border: none;
  border-radius: 50px;
  width: 250px;
  height: 60px;
  margin: 30px;
}

button:hover{box-shadow: 0 30px 50px 0 #FFD54F}